@use "./base.scss";

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.img-caption {
  font-family: var(--sansSerifFont);
  font-size: 0.875rem;
  background-color: var(--lightgray);
  padding: 4px 8px;
}